.categoryPage {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px;
  gap: 15px;
}

.categoryPage .locCard {
  display: flex;
  flex-direction: row;
}

